@import './assets/styles/common';

.app {
  display: flex;
  align-items: center;
  font-size: em(28);
}

.icon {
  color: $color-accent-400;
}

.text {
  color: #ffffff;
  font-size: em(16, 28);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.5px;
  font-family: $font-product-sans;
}
