$icomoon-font-family: 'jho' !default;
$icomoon-font-path: '../fonts/jho' !default;

$ico-user-circle: unquote('"\\e900"');
$ico-map: unquote('"\\e901"');
$ico-banknotes: unquote('"\\e902"');
$ico-presentation-chart-bar: unquote('"\\e903"');
$ico-pencil: unquote('"\\e904"');
$ico-map-pin: unquote('"\\e905"');
$ico-key: unquote('"\\e906"');
$ico-Icons: unquote('"\\e907"');
$ico-flag: unquote('"\\e908"');
$ico-eye-slash: unquote('"\\e909"');
$ico-envelope: unquote('"\\e90a"');
$ico-credit-card: unquote('"\\e90b"');
$ico-arrow-left-end-on-rectangle: unquote('"\\e90c"');
$ico-calendar-days: unquote('"\\e90d"');
$ico-arrow-path-rounded-square: unquote('"\\e90e"');
$ico-arrow-down: unquote('"\\e90f"');
$ico-hourglass: unquote('"\\e910"');
$ico-exclamation-circle: unquote('"\\e911"');
$ico-check-badge: unquote('"\\e912"');
$ico-bid: unquote('"\\e913"');
$ico-arrow-uturn-left: unquote('"\\e914"');
$ico-arrow-right: unquote('"\\e915"');
