@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-weight: 400;
  src: url('../fonts/product-sans/Product Sans Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Product Sans';
  font-weight: 700;
  src: url('../fonts/product-sans/Product Sans Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Azo Sans';
  src: url('../fonts/azo-sans/AzoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
