@import 'font-variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i75zz4');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i75zz4#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?i75zz4') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?i75zz4') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?i75zz4##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-eye-open {
  &:before {
    content: $ico-eye-open;
  }
}
.ico-user-circle {
  &:before {
    content: $ico-user-circle;
  }
}
.ico-map {
  &:before {
    content: $ico-map;
  }
}
.ico-banknotes {
  &:before {
    content: $ico-banknotes;
  }
}
.ico-presentation-chart-bar {
  &:before {
    content: $ico-presentation-chart-bar;
  }
}
.ico-pencil {
  &:before {
    content: $ico-pencil;
  }
}
.ico-map-pin {
  &:before {
    content: $ico-map-pin;
  }
}
.ico-key {
  &:before {
    content: $ico-key;
  }
}
.ico-Icons {
  &:before {
    content: $ico-Icons;
  }
}
.ico-flag {
  &:before {
    content: $ico-flag;
  }
}
.ico-eye-slash {
  &:before {
    content: $ico-eye-slash;
  }
}
.ico-envelope {
  &:before {
    content: $ico-envelope;
  }
}
.ico-credit-card {
  &:before {
    content: $ico-credit-card;
  }
}
.ico-arrow-left-end-on-rectangle {
  &:before {
    content: $ico-arrow-left-end-on-rectangle;
  }
}
.ico-calendar-days {
  &:before {
    content: $ico-calendar-days;
  }
}
.ico-arrow-path-rounded-square {
  &:before {
    content: $ico-arrow-path-rounded-square;
  }
}
.ico-arrow-down {
  &:before {
    content: $ico-arrow-down;
  }
}
.ico-hourglass {
  &:before {
    content: $ico-hourglass;
  }
}
.ico-exclamation-circle {
  &:before {
    content: $ico-exclamation-circle;
  }
}
.ico-check-badge {
  &:before {
    content: $ico-check-badge;
  }
}
.ico-bid {
  &:before {
    content: $ico-bid;
  }
}
.ico-arrow-uturn-left {
  &:before {
    content: $ico-arrow-uturn-left;
  }
}
.ico-arrow-right {
  &:before {
    content: $ico-arrow-right;
  }
}
